<!DOCTYPE html>
<html>
  <head>
    <title>FoodAPP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheets" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body background="../images/food5.jpg">
    <nav class="navbar navbar-inverse">
   <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" onclick="return false;" class="navbar-brand">FOODAPP </a>
          <ul class="nav navbar-nav">
            <li class="nav-right"><a href="/logout">LOGOUT</a></li>
          </ul>
      </div>
   </div>

</nav>
  <h1>WELCOME</h1>
<div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2"></div>
<div class="col-sm-3 col-md-3 col-lg-3">
  <form  method="post" action="/createcartid">
  <input type="text" id="uid" name="uid" autocomplete="off" style="visibility:hidden" value=<%= uid%> ></input></br>
<label>Generate new cart id:</label>
<input type="submit"  class="btn btn-info" value="Generate">
 </form>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
 <form method="post" action="/menu">
     <input type="text" id="uid" name="uid" autocomplete="off" style="visibility:hidden" value=<%= uid%> ></input></br>
<label> Use a cart:<label>
   <input type="text"  id="cartid" name="cartid" autocomplete="off">
 <input type="submit" class="btn btn-info" onclick="" value="Start" >
 </form>
</div>
</div>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12"></div>
<div class="col-sm-12 col-md-12 col-lg-12"></div>
<br><br><br>
<div class="col-sm-2 col-md-2 col-lg-2"></div>
<div class="col-sm-6 col-md-6 col-lg-6">
<table class="table table-bordered table-responsive table-hover table-sm">
<thead>
<tr>
<th>cart-ID</th>
<th>status</th>
</tr>
</thead>
<% for(var i=0; i<carts.length; i++){%>
<tbody>
<tr>
  <td><%= carts[i].cart_id%></td>
  <td><%= carts[i].status%></td>
</tr>
</tbody>
<%}%>
</table>
</div>
</div>

<div class="col-sm-4 col-md-4 col-lg-4"></div>


  </body>
</html>
