<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form method="post" action="/login">
      Email: <input type="text" id="username" name="username" autocomplete="off"><br/>
       Password: <input type="password" id="password" name="password" autocomplete="off"><br/>
<input type="submit" class="btn btn-info" value="Login">
  </form>
  <br>
  </body>
</html>
