<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
   <form method="post" action="/login">
     <div>
      Email: <input type="text"class="form-control" id="username" name="username" autocomplete="off"><br/>
    </div>
    <div class="form-group">
      Password: <input type="password" class="form-control" id="password" name="password" autocomplete="off"><br/>
    </div>
<input type="submit" class="btn btn-info" value="Login">
  </form>
  <br>
</div>
  </body>
</html>
