<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form method="post" action="/payment">
<input type="submit" class="btn btn-info" value="Login">
  </form>
  <br>
  </body>
</html>