<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
  </head>
  <body>
<ul >
  <% for(var i=0; i<menu.length; i++) {%>
    <li >
      <span><%= menu[i].product_name %></span>
      <span><%= menu[i].price %></span>
    </li>
  <% } %>
</ul>
  </body>
</html>
