<!DOCTYPE html>
<html>
  <head>
    <title>Demo3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <h1>UID: <%= uid%><h1>

<div class="container">
<table class="table table-striped">
<thead>
<tr>
<th>Total</th>
</tr>
</thead>
<tbody>
<tr>
  <td><%= uid%></td>
</tr>
</tbody>
</table>
</div>

<form method="post" action="/payment">
<input type="text" id="uid" name="uid" autocomplete="off" style="visibility:hidden" value=<%= uid%> ></input></br>
Make payment: <input type="submit" class="btn btn-info" value="Pay" >
</form>

  </body>
</html>
